body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.header-container {
  color: white;
  margin: 0;
  background-color: #1f2937;
}
