body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
  font-weight:bolder;
}

h3 {
  font-size: 24px;
}

h1, h3 {
  margin: 0;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

p {
  font-size: 18px;
  margin: 0;
}

.header-container {
  color: white;
  margin: 0;
  background-color: #1f2937;
  padding: 100px 200px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
}

.header-title > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 450px
}

.container-1 {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container-2 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.img-container {
  max-width: 160px;
  text-align: center;
}

.mid-image  {
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.body-text-container {
  display: flex;
  flex-direction: column;
  padding: 120px 300px;
  background-color: #e5e7eb;
}

.quote {
  text-align: center;
  font-size: 2rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.quote-sig {
  padding-top: 10px;
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #1f2937;
}

.bot-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.bot-content-container {
  background-color: #3882f6;
  width: 80%;
  height: 130px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bot-content-container > button {
  border-color: white;
  border: solid 2px;
}

.bot-content-container > div {
  font-family: sans-serif;
  color: white;
}

.footer-container > div {
  background-color: #1f2937;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: white;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
}
